
    <div class="d-flex align-center justify-center py-4">
    <MudAvatar Style="color:white" Size="Size.Medium" Class="mr-2">
        <MudIcon Icon="@Icons.Material.Filled.Autorenew" Color="Color.Primary" Style="color: white;" />
    </MudAvatar>
        <MudText Typo="Typo.h5" Style="font-weight: 700;" Color="Color.Primary">PAccountant</MudText>
    </div>
    <MudNavLink  Href="/"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard"> Dashboard</MudNavLink>
    <MudNavLink Href="/incomes" Icon="@Icons.Material.Filled.AttachMoney"> Incomes</MudNavLink>
    <MudNavLink Href="/budgets" Icon="@Icons.Material.Filled.AccountBalanceWallet"> Budget Planning</MudNavLink>
   
    

            
